@import 'tailwindcss';

@theme {
  --color-dark-bg: #0d1117;
  --color-card-bg: #161b22;
  --color-input-bg: #1c2128;
  --color-image-bg: #1e2536;
  --color-btn-bg: #21262d;
  --color-btn-active: #282e38;
  --color-border-base: #30363d;
  --color-border-high: #8b949e;
  --color-brand-gold: #f0a400;
}

body {
  background-color: var(--color-dark-bg);
  color: #ffffff;
}
